---
http_interactions:
- request:
    method: get
    uri: https://www.bbc.co.uk/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Belfrage-Cache-Status:
      - HIT
      Bid:
      - bruce
      Brequestid:
      - e9f3e1e4548b404f815643e1f2f8ac2d
      Bsig:
      - c17808d11d40816b2eba1a23ffb11ba3
      Req-Svc-Chain:
      - GTM,BELFRAGE
      X-Bbc-Edge-Cache-Status:
      - EXPIRED
      X-Bbc-Origin-Response-Status:
      - '200'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html><html lang="en-GB" class="no-js"><head><meta charSet="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><title data-rh="true">BBC - Home</title><meta data-rh="true" name="description" content="The best of the BBC, with the latest news and sport headlines, weather, TV &amp; radio highlights and much more from across the whole of BBC Online."/><meta data-rh="true" name="theme-color" content="#FFFFFF"/><meta data-rh="true" property="fb:admins" content="100004154058350"/><meta data-rh="true" property="og:description" content="The best of the BBC, with the latest news and sport headlines, weather, TV &amp; radio highlights and much more from across the whole of BBC Online."/><meta data-rh="true" property="og:site_name" content="BBC"/><meta data-rh="true" property="og:title" content="BBC - Home"/><meta data-rh="true" property="og:type" content="website"/><meta data-rh="true" property="og:url" content="https://www.bbc.co.uk/"/><meta data-rh="true" name="twitter:card" content="summary_large_image"/><meta data-rh="true" name="twitter:creator" content="@BBC"/><meta data-rh="true" name="twitter:description" content="The best of the BBC, with the latest news and sport headlines, weather, TV &amp; radio highlights and much more from across the whole of BBC Online."/><meta data-rh="true" name="twitter:site" content="@BBC"/><meta data-rh="true" name="twitter:title" content="BBC - Home"/><meta data-rh="true" name="twitter:url" content="https://www.bbc.co.uk/"/><link data-rh="true" rel="canonical" href="https://www.bbc.co.uk/"/><link data-rh="true" rel="alternate" hrefLang="en" href="https://www.bbc.com/"/><link data-rh="true" rel="alternate" hrefLang="en-gb" href="https://www.bbc.co.uk/"/><link data-rh="true" rel="manifest" href="https://static.files.bbci.co.uk/core/manifest.8d4237cbd18eb052a5fa59995d4624b88fd4c643.json"/><script data-rh="true" type="application/ld+json">{"@context":"http://schema.org","@type":"CollectionPage","name":"BBC - Home","headline":"BBC - Home","url":"https://www.bbc.co.uk/","publisher":{"@type":"NewsMediaOrganization","name":"BBC","publishingPrinciples":"https://www.bbc.co.uk/news/help-41670342","logo":{"@type":"ImageObject","url":"https://static.files.bbci.co.uk/core/website/assets/static/webcore/bbc_blocks_84x24.5b565ac136ea8f9cb3b0f8e02eca1e0f.svg"}},"mainEntity":{"@type":"ItemList","itemListElement":[]}}</script><script nonce="ni4IG6y2cpJnvc3fvswHG2/FFagg0opgB2MU4924LDyMuiTDYH">
        /**
        * https://gist.github.com/samthor/64b114e4a4f539915a95b91ffd340acc
        */
        (function() {
          var check = document.createElement('script');
          if (!('noModule' in check) && 'onbeforeload' in check) {
            var support = false;
            document.addEventListener('beforeload', function(e) {
              if (e.target === check) {
                support = true;
              } else if (!e.target.hasAttribute('nomodule') || !support) {
                return;
              }
              e.preventDefault();
            }, true);

            check.type = 'module';
            check.src = '.';
            document.head.appendChild(check);
            check.remove();
          }
        }());
        </script><script nonce="ni4IG6y2cpJnvc3fvswHG2/FFagg0opgB2MU4924LDyMuiTDYH">document.querySelector("html").classList.remove("no-js")</script><style data-emotion="ssrcss-global 1n92a9l">html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font[...]
